%h1
  = submit
  шаблон
.content
  - form_for @direction do |form|
    %table.card
      %tr
        %th Полное название
        %td= form.text_field :name
      %tr
        %th Сокращенное название
        %td= form.text_field :short_name
    %br
  
    = submit_tag submit
