# coding: utf-8
%h2 Отделения 
.content
  %table.data
    %tr
      %th Код
      %th ID
      %th Название
    - for d in @divisions
      %tr
        %td= d.code
        %td= d.id
        %td= link_to d.name, :action => 'show_workers', :division_code => d.code
%br	
-#.actions
  -#= link_to 'Добавить', :action => 'new'         